<div class="mobile-nav">
    <nav id="mobile-nav" class="mobile-nav__links">
        
        <a href="#skills" class="nav-bar-link">Skills</a>
        <a href="#work" class="nav-bar-link">Work</a>
        <a href="#contact" class="nav-bar-link">Contact</a>
        
    </nav> 
    <button id="hamburger" class="hamburger hamburger--squeeze" type="button">
        <span class="hamburger-box">
            <span class="hamburger-inner"></span>
        </span>
    </button>
</div>

<section class="hero" id="top">

    <div class="column column--hero">

        <div class="content--hero">
            <div class="content--title">
                <h1 class="heading-primary u-text-align-left">Tim</h1>
                <h1 class="heading-primary u-text-align-left">O'Brien</h1>
                <h2 class="heading-secondary u-margin-bottom u-text-align-left">Web Developer</h2>
            </div>
            

            <p class="content--article">Dynamic and detail-oriented Web Developer with a flair for conceptualizing and delivering polished solutions effectively and efficiently. Self taught using online resources such as Udemy, Stack Overflow, and MDN documentation. Thank you for taking some time to view my portfolio.</p>
            <br>
            <p class="content--article u-margin-bottom">View my resume <a class="link" href="/resume/TimOBrien_Resume.pdf" download>here</a>.</p>

            <nav class="nav-bar u-margin-bottom">
        
                <a href="#skills" class="nav-bar-link">Skills</a>
                <span>  //  </span>
                <a href="#work" class="nav-bar-link">Work</a>
                <span>  //  </span>
                <a href="#contact" class="nav-bar-link">Contact</a>
        
            </nav>
        </div>

    </div>

    <div class="column column--hero">

        <div class="hero__image u-mobile-show-off">
            <img src="/img/timo.jpg" alt="Tim O'Brien">
        </div>

    </div>
    
</section>

<section class="skills" id="skills">

    <div class="content">
        
        <h1 class="heading-primary u-margin-bottom">Skills</h1>
        <div class="skills__list">
            <ul class="u-margin-bottom">
                <li><strong>Web Technologies: </strong>HTML5, CSS3, SaSS</li>
                <li><strong>Scripts: </strong>Javascript, jQuery, Bootstrap</li>
                <li><strong>Database: </strong>MongoDb</li>
                <li><strong>Web Debug Tools: </strong>Chrome Developer Tools, Postman</li>
                <li><strong>Web Server: </strong>Node.js</li>
                <li><strong>Versioning: </strong>Git, GitHub</li>
                <li><strong>Deployment Tools: </strong>Heroku</li>
            </ul>
        </div>
            
        <div class="skills__icons u-margin-bottom">
            <p class="fab fa-html5 icon"></p>
            <p class="fab fa-css3-alt icon"></p>
            <p class="fab fa-sass icon"></p>
            <p class="fab fa-node-js icon"></p>
        </div>

        <nav class="nav-bar u-mobile-show-off">
        
                <a href="#skills" class="nav-bar-link">Skills</a>
                <span>  //  </span>
                <a href="#work" class="nav-bar-link">Work</a>
                <span>  //  </span>
                <a href="#contact" class="nav-bar-link">Contact</a>
        
        </nav>
        
    </div>

</section>

<section class="work" id="work">

    <div class="column column--work work__portfolio">

        <div class="content content--work">
            <div class="work__image" style="background-image: url(/img/hoppers.jpg);"></div>
            <a href="https://hoppersbar.herokuapp.com/" target="_blank" rel=noopener>
                <h2 class="heading-work">Hopper's Bar</h2>
            </a>
                
        </div>
        <div class="content content--work">
            <div class="work__image" style="background-image: url(/img/ragingbull.jpg);"></div>
            <a href="https://raging-bull-training.herokuapp.com/" target="_blank" rel=noopener>
                <h2 class="heading-work">Raging Bull Training</h2>
            </a>   
        </div>
        <div class="content content--work">
            <div class="work__image" style="background-image: url(/img/movietime.jpg);"></div>
            <a href="https://movietime-api.herokuapp.com/" target="_blank" rel=noopener>
                <h2 class="heading-work">Movietime!</h2>
            </a>
        </div>

    </div>

    <div class="column column--work work__description">

        <div class="content u-float-right u-sticky">
        
            <h1 class="heading-primary u-margin-bottom">Work</h1>

            <p class="content--article u-margin-bottom">These projects display my constant drive for improvement from concept to finished product.</p>
        
            <nav class="nav-bar u-mobile-show-off">
            
                <a href="#skills" class="nav-bar-link">Skills</a>
                <span>  //  </span>
                <a href="#work" class="nav-bar-link">Work</a>
                <span>  //  </span>
                <a href="#contact" class="nav-bar-link">Contact</a>
            
            </nav>
        
        </div>

    </div>

</section>

<section class="contact" id="contact">

    <div class="content">

        <h1 class="heading-primary u-margin-bottom">Contact</h1>
            
        <nav class="nav-bar u-mobile-show-off">
            
            <a href="#skills" class="nav-bar-link">Skills</a>
            <span>  //  </span>
            <a href="#work" class="nav-bar-link">Work</a>
            <span>  //  </span>
            <a href="#contact" class="nav-bar-link">Contact</a>
            
        </nav>

    </div>

    <div class="content">

        <p class="u-margin-bottom"><a class="link" href="mailto:tim@timobrien.dev">tim@timobrien.dev</a></p>
        <p class="u-margin-bottom">Feel free to contact me.</p>
        <div class="contact__icons">
            <a class="link" href="https://github.com/animalchin45" target="_blank" rel=noopener><p class="fab fa-github-square icon"></p></a> <a class="link" href="https://www.linkedin.com/in/tim-o-brien-51a7bb19/" target="_blank" rel=noopener><p class="fab fa-linkedin icon"></p></a>
        </div>
        
                
    </div>

</section>

<script src="js/index.js"></script>