*,
*:after,
*:before {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html {
    // This defines one REM
    font-size: 62.5%;
    scroll-behavior: smooth;
    box-sizing: border-box;
}

a {
    text-decoration: none;
    color: $color-black;
    cursor: pointer;
}

section {
    display: flex;
    background-color: $color-white;
    // width: 98vw;
    
    // &:not(.contact) {
    //     min-height: 100rem;
    // }
}

@media (prefers-reduced-motion: reduce) {
    html {
        scroll-behavior: auto;
    }
}